h1{
    text-align: center;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

body {
    margin: 0px;
    background-color: rgb(26,39,49);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
}



.blog{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    letter-spacing: 0.2em;
    text-indent: 5px;
    word-wrap: break-word;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 25px;
    text-shadow: black;
  }
  .about {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    letter-spacing: .2em;
    text-indent: 5px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 2%;
    color: white;
    font-size: 20px;
    text-shadow: black;
  }

.box {
    position: relative;
    width: 1750px;
    height: 750px;
    background-color: rgb(152,127,98);
    padding: 20px;
    margin: 35px;
    border-radius: 20px;
    padding-left: 40px;
  }
  .box .HC{
    
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 4%;
    background: rgb(94,61,49);
    border-radius: 50px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .HC:hover {
    transform: scale(1.1);
  }
  .IC:hover {
    transform: scale(1.1);
  }
  .CB:hover {
    transform: scale(1.1);
  }
  .FC:hover {
    transform: scale(1.1);
  }
  .box .IC{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 29%;
    background: rgb(94,61,49);
    border-radius: 50px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .box .CB{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 54%;
    background: rgb(94,61,49);
    border-radius: 50px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .box .FC{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 79%;
    background: rgb(94,61,49);
    border-radius: 50px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }

  .box .Order{
    position: absolute;
    overflow: hidden;
    width: 90%;
    height: 70%;
    margin-top: 10%;
    margin-left: 4%;
    background: rgb(94,61,49);
    border-radius: 50px;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .pp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    letter-spacing: .2em;
    text-indent: 5px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 18%;
    color: white;
    font-size: 20px;
    text-shadow: black;
    
  }


  .pp2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    letter-spacing: .2em;
    text-indent: 5px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 15%;
    color: white;
    font-size: 20px;
    text-shadow: black;
  }
 
  .prod1{
    border-radius: 25px;
  }
  .containerprod1{
    position: absolute;
    overflow: hidden;
    width: 16.5%;
    height: 90%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 1px;
  }
  .containerprod1 .boxprod1{
    position: absolute;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 48%;
    margin-top: 5%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;

  }
  .prod1name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 51%;
    margin-left: 7%;
    margin-right: 10%;
    word-wrap: break-word;
    text-shadow: black;
  }

  .prod2{
    border-radius: 25px;
  }
  .containerprod2{
    position: absolute;
    overflow: hidden;
    width: 16.5%;
    height: 90%;
    margin-top: 1%;
    margin-left: 21%;
    border-radius: 1px;
  }
  .containerprod2 .boxprod2{
    position: absolute;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 48%;
    margin-top: 5%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;

  }
  .prod2name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 51%;
    margin-left: 7%;
    margin-right: 10%;
    word-wrap: break-word;
    text-shadow: black;
  }


  .prod3{
    border-radius: 25px;
  }
  .containerprod3{
    position: absolute;
    overflow: hidden;
    width: 16.5%;
    height: 90%;
    margin-top: 1%;
    margin-left: 41%;
    border-radius: 1px;
  }
  .containerprod3 .boxprod3{
    position: absolute;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 48%;
    margin-top: 5%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;

  }
  .prod3name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 51%;
    margin-left: 7%;
    margin-right: 10%;
    word-wrap: break-word;
    text-shadow: black;
  }


  .prod4{
    border-radius: 25px;
  }
  .containerprod4{
    position: absolute;
    overflow: hidden;
    width: 16.5%;
    height: 90%;
    margin-top: 1%;
    margin-left: 61%;
    border-radius: 1px;
  }
  .containerprod4 .boxprod4{
    position: absolute;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 48%;
    margin-top: 5%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;

  }
  .prod4name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 51%;
    margin-left: 7%;
    margin-right: 10%;
    word-wrap: break-word;
    text-shadow: black;
  }

  .prod5{
    border-radius: 25px;
  }
  .containerprod5{
    position: absolute;
    overflow: hidden;
    width: 16.5%;
    height: 90%;
    margin-top: 1%;
    margin-left: 81%;
    border-radius: 1px;
  }
  .containerprod5 .boxprod5{
    position: absolute;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 48%;
    margin-top: 5%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;

  }
  .prod5name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 51%;
    margin-left: 7%;
    margin-right: 10%;
    word-wrap: break-word;
    text-shadow: black;
  }


  .prod1price{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 51%;
    margin-left: 7%;
    margin-right: 10%;
    word-wrap: break-word;
    text-shadow: black;
  }

 








/* blog part page*/

#blog {
  text-align: center;
  padding-top: 40px;
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;

}

.blog-box{
  width: 350px;
  background-color: wheat;
  border: 1px solid #5e3d31;
  margin: 20px;
  margin-right: 80px;
  margin-left: 80px;
}
.blog-img{
  width: 100%;
  height: auto;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span{
  color: #5E3D31;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;

}
.blog-text .blog-title:hover{
  color: red;
  transition: all ease 0.3s;
}
.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog-text a{
  color: black;
}
.blog-text a:hover{
  color: red;
  transition: all ease 0.3s;
}

.inside h4{
  font-size: large;
  color: #5e3d31;
  padding-left: 40px;
}
.wordings{
  position: absolute;
  left: 10px;
  top: 155px;
  flex: content;
}
.inside p{
  color:white;
  padding-left: 40px;
  margin-right: 54%;
}
/* .inside img{
  position: absolute;
  left: 980px;
  top: 100px;
  backface-visibility: hidden;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
} */
.inside .social-links{
  position: absolute;
  left: 610px;
  bottom: 60px;
  font-size: 300%;
  width: 50%;
  
}
.social-links a{
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 64px;
  text-align: center;
  border-radius: 30%;
  margin-right: 200px;
  color: #5e3d31 ;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: all 0.4s ease;
}

#showLogin {
  display: none;
}


/* flipcard info */
.cardcontainer{
  position: relative;
  top: 90px;
  width: 730px;
  height: 400px;
}
.card{
  position: absolute;
  left: 980px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.card:hover{
  transform: rotateY(180deg);
}
.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* .front .img{
  position: absolute;
  left: 1020px;
  top: 100px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
} */
.back{
  position: absolute;
  width: 732px;
  height: 415px;
  backface-visibility: hidden;
  background: #5e3d31;
  color: #987f62;
  transform: rotateY(180deg);
}
.backwords{
  padding-left: 230px;
}